body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #f7f7f7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
main{
    width: 100%;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    color: white;
}
aside #users{
    width: 90%;
    height: 100%;
    background: RGBA(225,225,225,0.5);
}
aside h4{
    background: #e6614f;
    padding: 0.2em;
    text-decoration: underline;
}
aside ul{
    margin-top: 0.5em;
}
aside ul li{
    color: black;
}

@media screen and (min-width: 40em) {
    main{
        width: 60%;
    }
    aside{
        width: 38%;
    }
}

aside #pressButton{
    align-self: center;
    width: 90%;
    height: 3em;
    margin: 0 0 1em 0;
    border: none;
    color: white;
    font-weight: bold;
    background: #51d2b7;
    border-radius: 0.5em;
}
aside #pressButton:hover{
    width: 94%;
    background: #db4734;
}

h4{
    margin: 0
}

aside ul{
    margin: 0;
    overflow-y: auto;
    max-height: 22.5em;
    min-height: 22.5em;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-direction: row;
    margin: 0 0 1em 0;
    background: #2a2d33;
    box-sizing: border-box;
}

header p.logo{
    color: white;
    font-weight: bold;
    background: #51d2b7;
}

header p,
header span{
    margin: 0;
    text-align: center;
    width: max-content;
    padding: 0.5em 0;
    color: white;
}
header p:nth-of-type(1){
    padding: 0.5em 0.5em;
}
header p:nth-of-type(2){
    margin: 0 0.5em;
}
#blocks {
    width: 100%;
    background: white;
    box-sizing:border-box;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#blocks h2{
    margin: 0;
    font-weight: lighter;
    width: 100%;
    background: white;
}

#blocks .item{
    width: 90%;
    margin: 0.5em 0;
    box-sizing:border-box;
    padding: 1em;
    border-radius: 0.5em;
    background: RGBA(225,225,225,0.5);
    border-style: solid;
    border: none;
    border-bottom: thick double #000;
    text-align: center;
}
@media screen and (min-width: 40em) {
    #blocks .item p{
        font-size: 1.5em;
        padding: 0.2em;
    }
}
#blocks .item span{
    font-size: 0.9em;
}
.item p,
.item span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 20em) {
    main section#blocks{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    main section#blocks .item{
        width: 45%;
    }
}
@media screen and (min-width: 40em) {
    main section#blocks .item{
        width: 30%;
    }
}

#container {
    width: 100%;
    height: 40vh;
    display: flex;
    margin: 0 auto 1em auto;
    box-sizing: border-box;
    justify-content: space-around;
}
@media screen and (min-width: 40em) {
    #container {
        margin: 0;
    }
}

#container #messages{
    width: 100%;
    max-height: 50vh;
    background: white;
    padding: 0.5em;
    margin: 1em 1em 0 1em;
    box-sizing: border-box;
    text-align: center;
    border: lightgray;
    border-style: solid;
    border-width: 1px;
}
#text h4{
    font-size: 2em;
}
#container #users{
    width: 33%;
    background: lightgray;
    border-radius: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
    width: 90%;
    height: 100%;
}

#turn, #ready{
    display: none;
}

#setCoffee, #ready h2{
    color: #e6614f;
}


@media screen and (min-width: 30em) {
    #container #users{
        width: 90%;
        height: 100%;
    }
}

span{
    font-weight: bold;
    text-align: center;
}

input + section{
    display: none;
}
input:checked + section{
    display: block;
}

.colorTea{color: #d0f0c0}
.colorBeer{color: #ffff00}
.colorCoffee{color: #a46331}

footer {
    align-self: flex-end;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#documentation{
    width: 100%;
    box-sizing: border-box;
}
