<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.min.css' />
    {{#if form.boxID}}
      <script id="socketScript" src="javascripts/vendors/socket.io.min.js"></script>
    {{/if}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
