html {
  padding: 0;
  margin: 0;
  background: url('../images/header-coffee.jpg') no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
}

#turn,
#ready {
  display: none;
}

#sign-in {
  margin: 10% auto 0;
  display: inline-block;
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  color: #fefefe;
}

#sign-in .inner {
  display: inline-block;
  padding: 2em;
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  color: #fefefe;
  border-radius: 1em;
}

h1 {
  margin-top: 0;
  text-align: center;
}

#sign-in label {
  color: #fefefe;
  display: block;
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.8;
}

#sign-in label .example {
  font-size: 0.75em;
}

#sign-in label .required {
  font-size: 0.5em;
}

#sign-in input{
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.5em;
  margin: 0 0 1em;
  padding: 0.5em;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1em;
  font-weight: normal;
  color: #333333;
}

#sign-in input::-webkit-input-placeholder {
  color: #8a8a8a;
}

#sign-in input:-ms-input-placeholder {
  color: #8a8a8a;
}

#sign-in input::placeholder {
  color: #8a8a8a;
}

button.primary {
  background-color: #1779ba;
  color: #fefefe;
  display: block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 1em 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 1.1em;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

button.primary:hover,
button.primary:focus {
  background-color: #126195;
  color: #fefefe;
}

#dashboard {
  margin: 10% auto 0;
  display: inline-block;
  box-sizing: border-box;
  max-width: 40em;
  width: 100%;
  color: #fefefe;
}

#dashboard .inner {
  display: inline-block;
  padding: 2em;
  box-sizing: border-box;
  max-width: 40em;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  color: #fefefe;
  border-radius: 1em;
}